*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
}

header{    
    width: 100%;
    height: 10vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    top:0;
    left: 0;
    z-index: 99999999;
}

.portfolio{
    background-color: #171717;
    color: white;
    width: 30%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-mobile{
    display: none;
}

.menu{
    background-color: #5d5d5d;
    width: 70%;
    height: 100%;
}

.menu ul{    
    height: 100%;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.menu ul li{
    margin: 0 10px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
}

.menu ul li a:hover{
    border-bottom: 3px solid #fff21c;
}

.profile{
    margin-top: 10vh;
    width: 100%;
    height: 90vh;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;    
}

.textbox{
    width: 30%;
    height: 100%;
    background-color: #171717;
    position: relative;
}

.textbox img{
    width: 70%;
    opacity: 50%;
    margin-top: 40px;
}

.textbox .textbox-wrap{
    width: 150%;
    position: absolute;
    left: 30%;
    bottom: 150px;
}

.textbox .textbox-wrap h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -40px;
    color: white;
    margin-left: -1px;
}

.textbox .textbox-wrap h1{
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-left: -2px;
    color: white;
}

.textbox .textbox-wrap h3{
    max-width: 60%;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px;
    background-color: #fff21c;
    text-align: center;
}

.profile-picture{
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, #171717 50%, #fff21c 50%);

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;   
}

.profile-picture img{
    max-width:100%;
    max-height:100%; 
    background-size: cover;
}

.about{
    width: 100%;
    height: 90vh;
    background-color: #ececec;
}

.about-wrap{
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;  
}

.about-picture-wrap{
    width: 50%;
   
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about-picture-wrap img{
    width: 90%;
    background-size: cover;
}

.about-circles{
    width: 40%;
    position: relative;
    top: 30px;
}

.text-about{
    width: 50%;
}

.text-about-wrap{
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;  
}

.text-about-wrap-text{
    width: 50%;
    text-align: right;
    position: relative;    
}

.text-about-wrap-text h4{
    font-size: 25px;
    margin-bottom: -30px;
    margin-right: 50px;
}

.text-about-wrap-text h1{
    font-size: 60px;
    margin-bottom: -15px; 
    margin-right: 50px;
    position: relative;
    z-index: 10;
}

.line-about{
    height: 30px;
    width: 210px;
    background-color: #fff21c;
    position: absolute;
    right: 10;
    bottom: 0;
}

.text-about p{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 55px;
    text-align: left;
}

.text-about-wrap-img{
    width: 50%;
}

.text-about-wrap img{
    width: 80%;
}

.stacks{
    width: 100%;
    height: 90vh;
    background-color: #5d5d5d;
    position: relative;
}

.title-stacks-wrap{
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center; 

    padding: 30px;
}

.title-stacks{
    width: 50%;
}

.title-stacks h4{
    font-size: 25px;
    color: black;
    text-align: right;
}

.title-stacks h1{
    font-size: 60px;
    color: black;
    margin-bottom: -25px;
    text-align: right;
    position: relative;
    z-index: 2;
}

.line-stack{
    height: 30px;
    width: 270px;
    background-color: #fff21c;
    float: right;
    position: relative;
    top:-65px;
}

.title-stacks-wrap-img{
    width: 50%;
    text-align: left;
}

.title-stacks-wrap-img img{
    margin-left: 30px;
}